body {
  margin-top: 2rem;
}

div.title {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0 none;
  background-color: #21BA45;
  margin: auto auto 1rem;
  & * {
    color: #fafeff;
  }
  & .ui.header div.sub.header {
    color: #f0f4f5;
  }

}

i.icon {
  cursor: default;

  &.hover {
    opacity: 0.5;
  }
  &.hover:hover {
    opacity: 1;
  }
  a > & {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
  }
}
