body {
  margin-top: 2rem;
}
div.title {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0 none;
  background-color: #21ba45;
  margin: auto auto 1rem;
}
div.title * {
  color: #fafeff;
}
div.title .ui.header div.sub.header {
  color: #f0f4f5;
}
i.icon {
  cursor: default;
}
i.icon.hover {
  opacity: 0.4;
}
i.icon.hover:hover {
  opacity: 1;
}
a > i.icon {
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  transition: opacity 0.1s ease 0s;
}
.ui.card .meta *, .ui.cards > .card .meta * {
  margin-right: 0;
}
